<?xml version="1.0"?>
<config>
    <modules>
        <ForeverNew_ChannelAdvisorConnector>
            <version>0.1.0</version>
        </ForeverNew_ChannelAdvisorConnector>
    </modules>
    <global>
        <models>
            <forevernew_channeladvisorconnector>
                <class>ForeverNew_ChannelAdvisorConnector_Model</class>
            </forevernew_channeladvisorconnector>
            <channeladvisor_connector>
                <rewrite>
                    <export_product_full>ForeverNew_ChannelAdvisorConnector_Model_Export_Product_Full</export_product_full>
                </rewrite>
            </channeladvisor_connector>
        </models>
        <helpers>
            <forevernew_channeladvisorconnector>
                <class>ForeverNew_ChannelAdvisorConnector_Helper</class>
            </forevernew_channeladvisorconnector>
        </helpers>
        <events>
            <sales_order_place_before>
                <observers>
                    <forevernew_channeladvisorconnector_shipping_method_correction>
                        <type>singleton</type>
                        <class>ForeverNew_ChannelAdvisorConnector_Model_Observer</class>
                        <method>adjustShippingDescription</method>
                    </forevernew_channeladvisorconnector_shipping_method_correction>
                </observers>
            </sales_order_place_before>
            <sales_quote_product_add_after>
                <observers>
                    <forevernew_channeladvisorconnector_prevent_negative_stock>
                        <type>singleton</type>
                        <class>ForeverNew_ChannelAdvisorConnector_Model_Observer</class>
                        <method>preventNegativeStock</method>
                    </forevernew_channeladvisorconnector_prevent_negative_stock>
                </observers>
            </sales_quote_product_add_after>
        </events>
    </global>
</config>